<nav class="navbar">
    <h2 class="logo">DASHBOARD</h2>
    <ul class="nav-links">
        <li><a href="/profile">PROFILE</a></li>
        <li><a href="/dashboard">DASHBOARD</a></li>
        <li><a href="/jobs">JOBS</a></li>
        <li><a href="#">WEB-SCRAPE</a></li>
    </ul>
</nav>
